$main-font: 'Inter',
sans-serif;

$orange-120: #E87928;
$orange-100:#FF8B37;
$orange-80:#FFAC70;
$orange-5:#FFF3EB;
$green-100:#47D867;
$green-5:#E6FAEA;
$red-100:#EC6259;
$red-5:#FDEEED;
$black-100:#1C1C21;
$black-40:#D0D0D8;
$black-5:#F5F5F7;
$white-100:#FFFFFF;

* {
  box-sizing: border-box;
  font-family: $main-font;
  font-weight: 400;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  max-width: 1900px;
  margin: auto;
}

@mixin page($type) {
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;
  display: flex;

  @if $type=='start' {
    background: rgb(255, 243, 235);
    background: linear-gradient(315deg, rgba(255, 243, 235, 1) 50%, rgba(255, 255, 255, 1) 50%);
  }

  @else {
    background: $white-100;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
    }

    .content {
      width: 50%;

      h2 {
        font-size: 56px;
        margin-top: 0;
      }

      .score {
        font-size: 32px;
        margin: 0;
        opacity: 0.5;
        font-weight: 600;
      }
    }

    @media screen and (min-width:2500px) {
      .content {
        h2 {
          font-size: 70px;
        }
      }
    }

    @media screen and (max-width: 970px) {
      .content {
        h2 {
          font-size: 40px;
        }

        .score {
          font-size: 25px;
        }
      }
    }

    @media screen and (max-width: 555px) {
      flex-direction: column;

      img {
        width: 100%;
      }

      .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .score {
          font-size: 18px;
          margin-top: 30px;
        }

        h2 {
          margin-top: 10px;
          max-width: 450px;
          font-size: 32px;
          text-align: center;
        }
      }
    }
  }
}

#start-page {
  @include page(start)
}

#end-page {
  @include page(end)
}

#game {
  display: flex;
  height: 100%;
  position: relative;

  .fetch-status-title {
    position: absolute;
    top: 20px;
    left: 20px;

    a {
      margin: 20px 0;
    }
  }
}

#quiz {
  background: $black-5;
  min-height: 100vh;
  width: calc(100% - 376px);
  display: flex;
  color: $black-100;
  padding-top: 50px;
  padding-bottom: 20px;

  .container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      font-size: 32px;

      @media screen and (max-width:880px) {
        font-size: 26px;
        text-align: center;
      }

      @media screen and (min-width:2500px) {
        font-size: 50px
      }

      @media screen and (max-width:500px) {
        font-size: 18px;
      }

    }

    @import './styles/answers.scss';

  }
}


#status-bar {
  background: $white-100;
  width: 376px;
  height: 100%;
  min-height: 100vh;
  color: $black-100;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;

  @import './styles/rates.scss';
}


#spinner {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
}

#menu-control {
  position: fixed;
  cursor: pointer;
  z-index: 100;
  top: 20px;
  right: 20px;
  font-size: 24px;
  display: none;
  color: $black-100;
}


@media screen and (max-width:700px) {
  #game {
    #quiz {
      width: 100%;
    }

    #status-bar {
      width: 100%;
      position: fixed;
      overflow-y: scroll;
      top: 0;
      right: -100%;
      transition: all ease-in 400ms;
    }

    &.active {
      #status-bar {
        right: 0;
      }
    }
  }

  #menu-control {
    display: block;
  }
}